[Unit]
Description=ODROID ALSA Setup Service

[Service]
Type=simple
ExecStart=/usr/share/odroid-alsa/odroid-alsa-setup

[Install]
WantedBy=multi-user.target
